<!DOCTYPE html>
<html lang="ja">
<head>
  <title>login</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{static_url("css/style.css")}}"/>
</head>
<body>
  <div class="container">
    <form action="/" method="post">
      {% module xsrf_form_html() %}
      <p>User Name<input type="text" name="username" class="form-control" ></p>
      <p>PassWord<input type="password" name="password" class="form-control"></p>
      <p><input type="submit" value="Login"></p>
    </form>
    <form action="/entry">
      <p>
        <input type="submit" value="New Entry">
      </p>
    </form>
  </div>
</body>
</html>
